## Python基本功能介紹  
在本章我們快速的複習Python裡面最重要的幾個功能。透過一個代購的例子，來做整章的串連。

最近很多人做起代購的生意，如果你有好的眼光、你有人脈，你就可以透過代購去購買一些國外的產品來過濾。現在做生意不見得要用實體店面，透過代購我們可以把庫存的成本放在國外，當顧客下單時再準備跟廠商叫貨。再者，由於代購業者最靠近消費者，他們也可以最快速的去了解未來的流行機會。因此未來代購或臉書直撥商品販賣，都會是新興的機會。

我們來設想一個情境，作為本章的串聯。小明從韓國批貨，他需要寫一個程式將金額從韓元轉換成台幣。除此之外，由於代購有人事成本、關稅成本等問題。他需要再加上兩成的獲利才能成為售價。譬如：韓國進貨成本50000，匯率是0.03，因此換算成台幣是1500，最後再加2成是1800臺幣。我們怎麼用Python來幫助小明寫這個程式呢？

最簡單的方法你可以把python想像是一臺電子計算機，直接把這些數值打進Jupyter notebook儲存格再直行即可。如下例示範。

範例： 進貨範例之售價計算

In [24]:
50000*0.03*(1+0.2)

1800.0

範例： 進貨範例之變數使用    
雖然上式可完美算出結果，但時間久遠可能沒人記得這些數值代表什麼意思。變數就可以解決這個問題。在本例，我們一共假設了五個變數，k_cost韓元進貨成本，rate匯率，nt_cost台幣成本，inc增加的成本百分比，nt_price台幣售價。

透過變數的命名和更改內容，我們更清楚每個數值所代表的意義。

In [25]:
k_cost=50000
rate=0.03
nt_cost=k_cost*rate
inc=(1+0.2)
nt_price=nt_cost*inc
print(nt_price)

1800.0

範例： 進貨範例之字串格式介紹  
上例雖然透過了變數，增加程式的可讀性與易修改性，但輸出陽春了點。良好的輸出不僅增加程式專業性，也讓使用者更清楚發生了什麼事。因此，字串的出現是讓使用者能了解輸出的資料代表什麼意思。在本例用f_string的格式，即在''前加f，這時如果有出現大括號，Python就會將變數放入字串裡。在台幣售價上，我用了:.0f表示將浮點數的數值轉換成整數(即小數點後為0個數值)。

跟上個例子相比這樣子的輸出是不是更加清楚。

In [26]:
k_cost = 50000
rate = 0.03
nt_cost = k_cost*rate
inc = (1+0.2)
nt_price = nt_cost*inc
s = f'韓元{k_cost}，匯率{rate}，台幣成本{nt_cost}，台幣售價{nt_price:.0f}'
print(s)

韓元50000，匯率0.03，台幣成本1500.0，台幣售價1800

範例： 進貨範例之函數介紹  
上例的成本售價計算，如果每次都要重打是不是很不方便?

有沒有可能像print函數一樣，直接呼叫cal_price就幫你算出售價？有，這就是函數的功能。在本例cal_price式函數的名稱，其參數為韓國進貨成本，而我們希望輸出的資訊包括台幣成本，台幣售價。先定義函數。

In [27]:
def cal_price(k_cost):
  rate = 0.03
  nt_cost = k_cost*rate
  inc = (1+0.2)
  nt_price = nt_cost*inc
  return nt_cost,nt_price

範例： 使用函數

In [28]:
k_cost =int (input("請輸入韓國進價成本"))
s = f'韓元{k_cost}，台幣成本{nt_cost}，台幣售價{nt_price:.0f}'
print(s)

請輸入韓國進價成本10000
韓元10000，台幣成本1500.0，台幣售價1800

範例： 進貨範例與串列和迴圈介紹  
如果韓國進貨成本有多筆資料，每次都要一筆一筆輸入很麻煩，這時可用串列將數值先存儲起來。再透過用for迴圈將每一筆的韓元轉換成台幣和售價。

In [29]:
list_cost = [ 30000 , 10000 , 5000 ,40000 ]
for k_cost in list_cost: 
  nt_cost , nt_price = cal_price( k_cost )
  print(f'韓元{k_cost}，台幣成本{nt_cost}，台幣售價{nt_price:.0f}')

韓元30000，台幣成本900.0，台幣售價1080
韓元10000，台幣成本300.0，台幣售價360
韓元5000，台幣成本150.0，台幣售價180
韓元40000，台幣成本1200.0，台幣售價1440

6範例： 同上例，但要將計算結果存入list_results串列裡  
做法先創建一個空字串，再將cal_price函數計算結果依序放入list_results串列裡。輸出的結果是一個二維的串列。寫程式的我們當然知道第一個1個欄位為韓元，第2個欄位為台幣成本，成本第3個欄位為台幣售價。請對照上立會更清楚二維欄位所代表的意義。但對一般使用者而言，很難去了解這二維資料所代表的意義是什麼。

In [30]:
list_cost = [30000,10000,5000,40000]
list_results = []
for k_cost in list_cost:
  nt_cost,nt_price = cal_price(k_cost)
  list_results.append([k_cost,nt_cost,nt_price])
  print(f'韓元{k_cost}，台幣成本{nt_cost}，台幣售價{nt_price:.0f}')
list_results

韓元30000，台幣成本900.0，台幣售價1080
韓元10000，台幣成本300.0，台幣售價360
韓元5000，台幣成本150.0，台幣售價180
韓元40000，台幣成本1200.0，台幣售價1440

[[30000, 900.0, 1080.0],
 [10000, 300.0, 360.0],
 [5000, 150.0, 180.0],
 [40000, 1200.0, 1440.0]]

範例： 進貨範例與字典介紹  
上例的串列表示雖然正確，但不夠清楚。我們將函數的輸出改成字典格式。字典是用大括號表示，用：區分成鍵和值，資料的區隔為逗號(,)。第1步先撰寫函數cal_price_dict，其回傳值為字典。

In [31]:
def cal_price_dict( k_cost ):
 rate = 0.03
 nt_cost = k_cost * rate
 inc = 0.2
 nt_price = nt_cost * ( 1 + inc )
 data = {
     'k_cost':k_cost,
     'nt_cost':nt_cost,
     'nt_price':nt_price
  } 
 return data
cal_price_dict(1000)

{'k_cost': 1000, 'nt_cost': 30.0, 'nt_price': 36.0}

範例： 使用函數回傳的字典  
這樣子的資料呈現方式是不是比單純用串列來得更加清楚。我們可以看見這裡面一共包含四筆資料。而每一筆資料有著韓元成本，台幣成本和台幣售價三個欄位。

In [32]:
list_cost = [ 30000 , 10000 , 5000 ,40000 ]
list_dict_results=[]
for k_cost in list_cost: 
  data=cal_price_dict(k_cost)
  list_dict_results.append(data)
list_dict_results

[{'k_cost': 30000, 'nt_cost': 900.0, 'nt_price': 1080.0},
 {'k_cost': 10000, 'nt_cost': 300.0, 'nt_price': 360.0},
 {'k_cost': 5000, 'nt_cost': 150.0, 'nt_price': 180.0},
 {'k_cost': 40000, 'nt_cost': 1200.0, 'nt_price': 1440.0}]

In [33]:
import pandas as pd
pd.DataFrame(list_dict_results)

   k_cost  nt_cost  nt_price
0   30000    900.0    1080.0
1   10000    300.0     360.0
2    5000    150.0     180.0
3   40000   1200.0    1440.0

In [34]:
df1 = pd.DataFrame(list_results , columns = [ 'k_cost' , 'nt_cost' , 'nt_price' ])

In [35]:
df1

   k_cost  nt_cost  nt_price
0   30000    900.0    1080.0
1   10000    300.0     360.0
2    5000    150.0     180.0
3   40000   1200.0    1440.0

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
df1.to_csv

<bound method NDFrame.to_csv of    k_cost  nt_cost  nt_price
0   30000    900.0    1080.0
1   10000    300.0     360.0
2    5000    150.0     180.0
3   40000   1200.0    1440.0>

In [38]:
df2 = pd.read_csv
df2

範例： 進貨範例與if判斷介紹  
如果老闆不要10000元以下的資料，我們可以用if來過濾資料。跟上例相比我們觀察到，韓元成本低於10000元的資料被刪除了。

In [39]:
list_cost = [30000,10000,5000,40000]
list_results_10000 = []
for k_cost in list_cost:
  if k_cost >= 10000 : 
    nt_cost,nt_price = cal_price(k_cost)
    list_results_10000.append([ k_cost , nt_cost , nt_price ])
    print(f' 韓元{k_cost} , 台幣成本{nt_cost} , 台幣售價{nt_price:.0f} ')

list_results_10000

 韓元30000 , 台幣成本900.0 , 台幣售價1080
 韓元10000 , 台幣成本300.0 , 台幣售價360
 韓元40000 , 台幣成本1200.0 , 台幣售價1440

[[30000, 900.0, 1080.0], [10000, 300.0, 360.0], [40000, 1200.0, 1440.0]]

範例： 進貨範例與pandas介紹  
事實上最適合人類閱讀二維資料的方式是pandas，它可以將資料整理像是excel一樣的呈現。除此之外，它還包含了列索引鍵和欄索引鍵幫助我們存取資料。更厲害的是，它提供了許多好用的函數，而且跟excel的整合也相當不錯。

In [40]:
df3=pd.DataFrame(list_results_10000)

In [41]:
df3.columns = ([ '韓元' , '台幣成本' , '台幣售價' ])
df3

      韓元    台幣成本    台幣售價
0  30000   900.0  1080.0
1  10000   300.0   360.0
2  40000  1200.0  1440.0

範例： 請計算上例三個欄位的平均值  
我們只需要用mean()就可以輕鬆算出三個欄位的平均值。

In [42]:
df3.mean()

韓元      26666.666667
台幣成本      800.000000
台幣售價      960.000000
dtype: float64

範例： 請計算三個欄位的最大值  
用max()就可以算出三個欄位的最大值。

In [43]:
df3.max()

韓元      40000.0
台幣成本     1200.0
台幣售價     1440.0
dtype: float64

## 作業

1. 最近在discovery頻道裡面有一個真人實境的節目。參賽者必須裸露在荒郊野外生存21天。有一集談的是一群人在非洲。各位知道非洲是非常炎熱的地方，有著大太陽。因此，每位參賽者剛到的時候，都被太陽折磨得半死，有曬傷的有中暑的。但令人意想不到的，是非洲也會下大雨(可能是我太孤陋寡聞)，但誇張的是溫度驟降到讓人有失溫的危機。在好幾個鏡頭裡面。參賽者還差點因為失溫而退賽。   
在節目裡面有位參賽者說，現在的溫度是華氏50度，他快要冷死了，請問是攝氐幾度呢？請同學撰寫一個函數temp_transform，函數的參數為華攝溫度，函數的輸出為攝氏溫度。  
公式： 攝氏 = (華氏-32)\*5/9

In [44]:
def temp_transform(temperature):
  temperature = (temperature-32)*5/9
  return temperature

2. 假設我有一筆華氏的溫度資料，請算出它對應的攝氏溫度資料。  
華氏溫度資料。Fs = [0, 50, 100, 200]

In [45]:
Fs = [0, 50, 100, 200]
for temperature in Fs:
  print(f"華氏溫度為:{temp_transform(temperature)}")

華氏溫度為:-17.77777777777778
華氏溫度為:10.0
華氏溫度為:37.77777777777778
華氏溫度為:93.33333333333333